In [5]:
import pandas as pd
import numpy as np
import scipy.stats
import matplotlib.pyplot as plt
from scipy import stats

In [7]:
df=pd.read_csv("statistics.csv")
df=df.dropna(how='all')
df=df.dropna(how='all',axis='columns')

f5=df['f5'].str.replace(',', '.').astype(float)
f6=df['f6'].str.replace(',', '.').astype(float)
f7=df['f7'].str.replace(',', '.').astype(float)
f8=df['f8'].str.replace(',', '.').astype(float)
f9=df['f9'].str.replace(',', '.').astype(float)
f14=df['f14'].str.replace(',', '.').astype(float)
f15=df['f15'].str.replace(',', '.').astype(float)
f16=df['f16'].str.replace(',', '.').astype(float)
f17=df['f17'].str.replace(',', '.').astype(float)
f18=df['f18'].str.replace(',', '.').astype(float)

In [8]:
df

,f5,f6,f7,f8,f9,f14,f15,f16,f17,f18
1,"71,21538","28,486152","156,673836","185,159988","199,403064","69,455556","86,12488944","116,6853341","188,9191123","19,44755568"
2,"213,64614","256,375368","142,43076","213,64614","427,29228","194,4755568","188,9191123","305,6044464","366,7253357","366,7253357"
3,"455,778432","427,29228","313,347672","356,0769","356,0769","177,8062234","377,8382246","425,0680027","366,7253357","388,9511136"
4,"413,049204","398,806128","327,590748","427,29228","370,319976","197,253779","380,6164469","427,846225","366,7253357","383,3946691"
5,"398,806128","384,563052","327,590748","413,049204","370,319976","402,8422248","377,8382246","425,0680027","366,7253357","383,3946691"
6,"398,806128","370,319976","313,347672","398,806128","356,0769","408,3986693","377,8382246","425,0680027","363,9471134","386,1728914"
7,"398,806128","384,563052","313,347672","384,563052","341,833824","411,1768915","383,3946691","427,846225","366,7253357","391,7293358"
8,"398,806128","398,806128","327,590748","398,806128","341,833824","416,733336","391,7293358","433,4026694","366,7253357","388,9511136"
9,"413,049204","384,563052","313,347672","413,049204","341,833824","425,0680027","380,6164469","436,1808917","372,2817802","388,9511136"
10,"398,806128","370,319976","327,590748","398,806128","341,833824","422,2897805","377,8382246","438,9591139","366,7253357","388,9511136"
11,"398,806128","370,319976","313,347672","398,806128","299,104596","422,2897805","383,3946691","436,1808917","366,7253357","386,1728914"
12,"370,319976","398,806128","327,590748","398,806128","299,104596","430,6244472","383,3946691","438,9591139","363,9471134","388,9511136"
13,"370,319976","341,833824","313,347672","356,0769","427,29228","419,5115582","383,3946691","436,1808917","366,7253357","383,3946691"
14,"413,049204","356,0769","327,590748","384,563052","341,833824","450,0720029","380,6164469","436,1808917","366,7253357","391,7293358"
15,"398,806128","356,0769","299,104596","384,563052","327,590748","425,0680027","383,3946691","444,5155584","363,9471134","386,1728914"
16,"384,563052","356,0769","313,347672","370,319976","341,833824","416,733336","380,6164469","441,7373362","366,7253357","380,6164469"
17,"370,319976","356,0769","313,347672","370,319976","370,319976","408,3986693","386,1728914","433,4026694","366,7253357","386,1728914"
18,"370,319976","370,319976","313,347672","370,319976","341,833824","400,0640026","383,3946691","438,9591139","363,9471134","383,3946691"
19,"341,833824","356,0769","313,347672","327,590748","327,590748","402,8422248","380,6164469","436,1808917","366,7253357","386,1728914"
20,"356,0769","356,0769","313,347672","370,319976","356,0769","397,2857803","377,8382246","436,1808917","361,1688912","386,1728914"
21,"384,563052","341,833824","313,347672","356,0769","370,319976","386,1728914","380,6164469","441,7373362","363,9471134","227,8142237"
22,"356,0769","341,833824","327,590748","356,0769","398,806128","380,6164469","294,4915574","425,0680027","366,7253357","227,8142237"
23,"356,0769","341,833824","327,590748","356,0769","370,319976","383,3946691","208,366668","263,9311128","41,6733336",NaN
24,"341,833824","370,319976","313,347672","384,563052","384,563052","358,390669","208,366668","263,9311128","366,7253357",NaN
25,"370,319976","356,0769","313,347672","370,319976","370,319976","22,22577792",NaN,NaN,"41,6733336",NaN
26,"341,833824","327,590748","327,590748","370,319976","413,049204","22,22577792",NaN,NaN,NaN,NaN
27,"327,590748","356,0769","313,347672","341,833824","427,29228",NaN,NaN,NaN,NaN,NaN
28,"356,0769","327,590748","313,347672","356,0769","413,049204",NaN,NaN,NaN,NaN,NaN
29,"341,833824","299,104596","341,833824","341,833824","441,535356",NaN,NaN,NaN,NaN,NaN
30,"341,833824","398,806128","327,590748","327,590748","398,806128",NaN,NaN,NaN,NaN,NaN
31,"356,0769","284,86152","313,347672","327,590748","413,049204",NaN,NaN,NaN,NaN,NaN
32,"341,833824","341,833824","327,590748","341,833824","427,29228",NaN,NaN,NaN,NaN,NaN
33,"356,0769","341,833824","327,590748","313,347672","398,806128",NaN,NaN,NaN,NaN,NaN
34,"313,347672","327,590748","327,590748","299,104596","398,806128",NaN,NaN,NaN,NaN,NaN
35,"313,347672","341,833824","327,590748","313,347672","384,563052",NaN,NaN,NaN,NaN,NaN
36,"327,590748","327,590748","313,347672","142,43076","370,319976",NaN,NaN,NaN,NaN,NaN
37,"327,590748","356,0769","341,833824","142,43076","427,29228",NaN,NaN,NaN,NaN,NaN
38,"299,104596","341,833824","313,347672","142,43076","370,319976",NaN,NaN,NaN,NaN,NaN
39,"284,86152","341,833824","313,347672","128,187684","356,0769",NaN,NaN,NaN,NaN,NaN
40,"299,104596","313,347672","356,0769","128,187684","341,833824",NaN,NaN,NaN,NaN,NaN
41,"327,590748","313,34767200000005","113,944608","242,132292","199,403064",NaN,NaN,NaN,NaN,NaN
42,"327,590748",NaN,"113,944608","113,944608","71,21538",NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,"113,944608","71,21538",NaN,NaN,NaN,NaN,NaN

In [9]:
def mean_confidence_interval(data, confidence=0.95):
    a = 1.0 * np.array(data)
    n = len(a)
    m, se = np.mean(a), scipy.stats.sem(a)
    h = se * scipy.stats.t.ppf((1 + confidence) / 2., n-1)
    return m, h

## далее считаем доверительные интервалы для каждого эксперимента

In [38]:
for i in range(10):
    m,h=mean_confidence_interval(df[df.columns[i]].dropna().str.replace(',', '.').astype(float))
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 350.65+-19.21
Experiment #1 344.27+-18.96
Experiment #2 302.83+-17.89
Experiment #3 316.99+-29.65
Experiment #4 351.11+-24.81
Experiment #5 340.44+-53.87
Experiment #6 343.23+-34.88
Experiment #7 401.45+-34.14
Experiment #8 333.05+-39.04
Experiment #9 354.60+-39.09

## доверительные интервалы для каждого эксперимента + Zscore

In [44]:
for i in range(10):
    temp=df[df.columns[i]].dropna().str.replace(',', '.').astype(float)
    z = np.abs(stats.zscore(temp))
    temp1 = temp[(z < 1)]
    m,h=mean_confidence_interval(temp1)
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 356.08+-10.34
Experiment #1 354.54+-8.36
Experiment #2 320.84+-3.57
Experiment #3 357.00+-12.79
Experiment #4 371.44+-11.64
Experiment #5 408.40+-9.66
Experiment #6 377.28+-9.26
Experiment #7 434.24+-2.90
Experiment #8 366.09+-0.93
Experiment #9 385.59+-2.62

## доверительные интервалы по эксперимертам суммарно для 3х метров

In [79]:
cylindr3m=[f14,f15,f16,f17,f18]
cyl3m=pd.concat(cylindr3m)
cyl3m=cyl3m.dropna()
z = np.abs(stats.zscore(cyl3m))
m,h=mean_confidence_interval(cyl3m)
print("Experiment 3m %2.2f+-%2.2f" % (m, h))
cyl3mp = cyl3m[(z < 1)]
m,h=mean_confidence_interval(cyl3mp)
print("Experiment 3m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 3m 354.14+-18.02
Experiment 3m + Zscore 390.50+-6.58

## доверительные интервалы по эксперимертам суммарно для 6х метров

In [53]:
cylindr6m=[f5,f6,f7,f8,f9]
cyl6m=pd.concat(cylindr6m)
cyl6m=cyl6m.dropna()
z = np.abs(stats.zscore(cyl6m))

m,h=mean_confidence_interval(cyl6m)
print("Experiment 6m %2.2f+-%2.2f" % (m, h))
cyl6mp = cyl6m[(z < 1)]
m,h=mean_confidence_interval(cyl6mp)
print("Experiment 6m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 6m 333.13+-10.17
Experiment 6m + Zscore 348.29+-4.44

## относительные ошибки в процентах

In [61]:
cyl3=np.array(cyl3mp)
cyl3=np.abs(cyl3-400)/400*100

cyl6=np.array(cyl6mp)
cyl6=np.abs(cyl6-400)/400*100

print("Max error 3m: %2.3f"%np.max(cyl3))
print("Max error 6m: %2.3f"%np.max(cyl6))

print("Mean error 3m: %2.3f"%np.mean(cyl3))
print("Mean error 6m: %2.3f"%np.mean(cyl6))

print("Median error 3m: %2.3f"%np.median(cyl3))
print("Median error 6m: %2.3f"%np.median(cyl6))

print("Min error 3m: %2.3f"%np.min(cyl3))
print("Min error 6m: %2.3f"%np.min(cyl6))

Max error 3m: 34.017
Max error 6m: 28.785
Mean error 3m: 6.927
Mean error 6m: 12.927
Median error 3m: 5.920
Median error 6m: 14.542
Min error 3m: 0.016
Min error 6m: 0.298

## все ошибки

In [307]:
np.set_printoptions(precision=2,suppress=True)
print(np.array(cyl3))

[ 0.71  2.1   2.79  4.18  6.27  5.57  5.57  7.66  4.88 12.52  6.27  4.18
  2.1   0.02  0.71  0.68  3.46  4.85  4.15 10.4   5.54  4.85  5.54  5.54
  4.15  2.07  4.85  5.54  4.15  4.15  4.15  4.85  4.15  4.85  3.46  4.15
  4.85  5.54  4.85 26.38 23.6   6.27  6.96  6.27  6.27  6.96  8.35  9.05
  9.74  9.05  9.74  9.05  9.05 11.13 10.43  8.35  9.74  9.05  9.05 10.43
  6.27  8.32  8.32  8.32  8.32  9.01  8.32  8.32  6.93  8.32  8.32  9.01
  8.32  8.32  9.01  8.32  8.32  9.01  8.32  9.71  9.01  8.32  8.32  8.32
  2.76  4.15  4.15  3.46  2.07  2.76  2.76  2.76  3.46  2.76  4.15  2.07
  3.46  4.85  3.46  4.15  3.46  3.46]

In [308]:
np.set_printoptions(precision=2,suppress=True)
print(np.array(cyl6))

[ 0.3   0.3   0.3   0.3   0.3   0.3   7.42  7.42  0.3   3.86  7.42  7.42
 14.54 10.98  3.86 10.98 10.98 14.54  7.42 14.54 18.1  10.98 14.54 14.54
 10.98 14.54 10.98 21.66 21.66 18.1  18.1  25.22 28.78 25.22 18.1  18.1
  0.3   3.86  7.42  3.86  0.3   3.86  7.42  7.42  0.3  14.54 10.98 10.98
 10.98 10.98  7.42 10.98 10.98 14.54 14.54 14.54  7.42 10.98 18.1  10.98
 18.1  25.22  0.3  28.78 14.54 14.54 18.1  14.54 18.1  10.98 14.54 14.54
 21.66 21.66 21.66 18.1  18.1  21.66 21.66 18.1  21.66 18.1  21.66 18.1
 21.66 18.1  25.22 21.66 21.66 21.66 21.66 21.66 21.66 18.1  18.1  21.66
 21.66 18.1  21.66 21.66 14.54 18.1  21.66 18.1  18.1  18.1  18.1  21.66
 14.54 21.66 21.66 10.98 10.98  0.3   3.86  0.3   0.3   0.3   0.3  10.98
  3.86  3.86  7.42  7.42  7.42 18.1   7.42 10.98 10.98 10.98  3.86  7.42
  7.42 14.54 10.98 14.54 18.1  18.1  14.54 21.66 25.22 21.66 10.98  7.42
  7.42 10.98 14.54 14.54 14.54 14.54 25.22 25.22 14.54 18.1  14.54  7.42
 14.54 18.1  10.98  7.42  0.3   7.42  3.86  7.42  0.3   0.3   0.3   3.86
  7.42  7.42 10.98 14.54]

## далее для каждого второго, третьего и четвертого элементов

## для каждого второго

In [63]:
for i in range(10):
    m,h=mean_confidence_interval(df[df.columns[i]].dropna().str.replace(',', '.').astype(float).to_numpy()[::2])
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 350.65+-34.09
Experiment #1 336.41+-35.00
Experiment #2 301.14+-25.71
Experiment #3 315.29+-40.80
Experiment #4 345.07+-38.97
Experiment #5 335.10+-87.12
Experiment #6 342.65+-60.33
Experiment #7 393.58+-63.65
Experiment #8 303.04+-76.09
Experiment #9 338.94+-78.08

## для каждого третьего

In [68]:
for i in range(10):
    m,h=mean_confidence_interval(df[df.columns[i]].dropna().str.replace(',', '.').astype(float).to_numpy()[::3])
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 339.80+-48.48
Experiment #1 324.54+-51.93
Experiment #2 311.31+-26.77
Experiment #3 302.90+-58.46
Experiment #4 345.63+-52.61
Experiment #5 304.68+-125.42
Experiment #6 333.39+-87.29
Experiment #7 393.81+-93.75
Experiment #8 310.85+-89.80
Experiment #9 320.19+-111.64

## для каждого четвертого

In [71]:
for i in range(10):
    m,h=mean_confidence_interval(df[df.columns[i]].dropna().str.replace(',', '.').astype(float).to_numpy()[::4])
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 339.24+-62.43
Experiment #1 318.53+-66.88
Experiment #2 288.75+-51.90
Experiment #3 318.53+-60.56
Experiment #4 356.08+-55.96
Experiment #5 304.81+-164.50
Experiment #6 332.46+-126.68
Experiment #7 381.54+-136.29
Experiment #8 295.29+-120.34
Experiment #9 298.20+-157.87

## для каждого второго + Z-score

In [73]:
for i in range(10):
    temp=df[df.columns[i]].dropna().str.replace(',', '.').astype(float).to_numpy()[::2]
    z = np.abs(stats.zscore(temp))
    temp1 = temp[(z < 1)]
    m,h=mean_confidence_interval(temp1)
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 359.83+-16.63
Experiment #1 347.83+-12.81
Experiment #2 318.60+-5.22
Experiment #3 346.28+-19.93
Experiment #4 371.11+-18.42
Experiment #5 408.68+-10.82
Experiment #6 381.73+-1.92
Experiment #7 434.24+-4.69
Experiment #8 350.56+-36.05
Experiment #9 386.79+-2.08

## для каждого третьего + Z-score

In [76]:
for i in range(10):
    temp=df[df.columns[i]].dropna().str.replace(',', '.').astype(float).to_numpy()[::3]
    z = np.abs(stats.zscore(temp))
    temp1 = temp[(z < 1)]
    m,h=mean_confidence_interval(temp1)
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 360.46+-20.60
Experiment #1 347.31+-18.10
Experiment #2 320.47+-6.10
Experiment #3 354.65+-21.18
Experiment #4 377.99+-22.12
Experiment #5 378.63+-75.11
Experiment #6 368.71+-30.32
Experiment #7 433.40+-5.93
Experiment #8 366.73+-0.00
Experiment #9 363.15+-55.30

## для каждого четвертого + Z-score

In [77]:
for i in range(10):
    temp=df[df.columns[i]].dropna().str.replace(',', '.').astype(float).to_numpy()[::4]
    z = np.abs(stats.zscore(temp))
    temp1 = temp[(z < 1)]
    m,h=mean_confidence_interval(temp1)
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 366.05+-20.41
Experiment #1 347.53+-19.33
Experiment #2 322.84+-9.48
Experiment #3 335.73+-42.25
Experiment #4 384.56+-25.46
Experiment #5 408.40+-18.89
Experiment #6 381.73+-3.93
Experiment #7 434.51+-7.56
Experiment #8 337.55+-76.47
Experiment #9 353.95+-87.60

## доверительные интервалы по эксперимертам суммарно для 3х метров, каждый второй элемент

In [84]:
cylindr3m=[]
for i in range(5,10):
    cylindr3m.append(df[df.columns[i]].dropna().str.replace(',', '.').astype(float)[::2])
cyl3m=pd.concat(cylindr3m)
cyl3m=cyl3m.dropna()
z = np.abs(stats.zscore(cyl3m))
m,h=mean_confidence_interval(cyl3m)
print("Experiment 3m %2.2f+-%2.2f" % (m, h))
cyl3mp = cyl3m[(z < 1)]
m,h=mean_confidence_interval(cyl3mp)
print("Experiment 3m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 3m 341.95+-30.24
Experiment 3m + Zscore 389.93+-10.82

## доверительные интервалы по эксперимертам суммарно для 6ти метров, каждый второй элемент

In [88]:
cylindr6m=[]
for i in range(0,5):
    cylindr6m.append(df[df.columns[i]].dropna().str.replace(',', '.').astype(float)[::2])
cyl6m=pd.concat(cylindr6m)
cyl6m=cyl6m.dropna()
z = np.abs(stats.zscore(cyl6m))
m,h=mean_confidence_interval(cyl6m)
print("Experiment 6m %2.2f+-%2.2f" % (m, h))
cyl6mp = cyl6m[(z < 1)]
m,h=mean_confidence_interval(cyl6mp)
print("Experiment 6m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 6m 329.72+-15.25
Experiment 6m + Zscore 345.52+-6.24

In [94]:
cyl3=np.array(cyl3mp)
cyl3=np.abs(cyl3-400)/400*100

cyl6=np.array(cyl6mp)
cyl6=np.abs(cyl6-400)/400*100

print("Max error 3m: %2.3f"%np.max(cyl3))
print("Max error 6m: %2.3f"%np.max(cyl6))

print("Mean error 3m: %2.3f"%np.mean(cyl3))
print("Mean error 6m: %2.3f"%np.mean(cyl6))

print("Median error 3m: %2.3f"%np.median(cyl3))
print("Median error 6m: %2.3f"%np.median(cyl6))

print("Min error 3m: %2.3f"%np.min(cyl3))
print("Min error 6m: %2.3f"%np.min(cyl6))

Max error 3m: 52.770
Max error 6m: 39.467
Mean error 3m: 9.024
Mean error 6m: 13.413
Median error 3m: 5.904
Median error 6m: 14.542
Min error 3m: 0.711
Min error 6m: 0.298

## доверительные интервалы по эксперимертам суммарно для 3х метров, каждый третий элемент

In [89]:
cylindr3m=[]
for i in range(5,10):
    cylindr3m.append(df[df.columns[i]].dropna().str.replace(',', '.').astype(float)[::3])
cyl3m=pd.concat(cylindr3m)
cyl3m=cyl3m.dropna()
z = np.abs(stats.zscore(cyl3m))
m,h=mean_confidence_interval(cyl3m)
print("Experiment 3m %2.2f+-%2.2f" % (m, h))
cyl3mp = cyl3m[(z < 1)]
m,h=mean_confidence_interval(cyl3mp)
print("Experiment 3m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 3m 331.40+-39.35
Experiment 3m + Zscore 387.56+-14.43

## доверительные интервалы по эксперимертам суммарно для 6ти метров, каждый третий элемент

In [90]:
cylindr6m=[]
for i in range(0,5):
    cylindr6m.append(df[df.columns[i]].dropna().str.replace(',', '.').astype(float)[::3])
cyl6m=pd.concat(cylindr6m)
cyl6m=cyl6m.dropna()
z = np.abs(stats.zscore(cyl6m))
m,h=mean_confidence_interval(cyl6m)
print("Experiment 6m %2.2f+-%2.2f" % (m, h))
cyl6mp = cyl6m[(z < 1)]
m,h=mean_confidence_interval(cyl6mp)
print("Experiment 6m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 6m 324.82+-20.24
Experiment 6m + Zscore 346.83+-7.74

## доверительные интервалы по эксперимертам суммарно для 3х метров, каждый четвертый элемент

In [91]:
cylindr3m=[]
for i in range(5,10):
    cylindr3m.append(df[df.columns[i]].dropna().str.replace(',', '.').astype(float)[::4])
cyl3m=pd.concat(cylindr3m)
cyl3m=cyl3m.dropna()
z = np.abs(stats.zscore(cyl3m))
m,h=mean_confidence_interval(cyl3m)
print("Experiment 3m %2.2f+-%2.2f" % (m, h))
cyl3mp = cyl3m[(z < 1)]
m,h=mean_confidence_interval(cyl3mp)
print("Experiment 3m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 3m 321.06+-49.91
Experiment 3m + Zscore 381.47+-22.94

## доверительные интервалы по эксперимертам суммарно для 6ти метров, каждый четвертый элемент

In [93]:
cylindr6m=[]
for i in range(0,5):
    cylindr6m.append(df[df.columns[i]].dropna().str.replace(',', '.').astype(float)[::4])
cyl6m=pd.concat(cylindr6m)
cyl6m=cyl6m.dropna()
z = np.abs(stats.zscore(cyl6m))
m,h=mean_confidence_interval(cyl6m)
print("Experiment 6m %2.2f+-%2.2f" % (m, h))
cyl6mp = cyl6m[(z < 1)]
m,h=mean_confidence_interval(cyl6mp)
print("Experiment 6m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 6m 324.22+-23.95
Experiment 6m + Zscore 346.35+-9.72