In [89]:
import pandas as pd
import numpy as np
import scipy.stats
import matplotlib.pyplot as plt
from scipy import stats

In [90]:
df1=pd.read_csv("dan6m.csv")
df2=pd.read_csv("dan3m.csv")
df=pd.concat([df1,df2])
df=df.dropna(how='all')
df=df.dropna(how='all',axis='columns')

f5=df['Capture005_export'].astype(float)
f6=df['Capture006_export'].astype(float)
f7=df['Capture007_export'].astype(float)
f8=df['Capture008_export'].astype(float)
f9=df['Capture009_export'].astype(float)

f14=df['Capture014_export'].astype(float)
f15=df['Capture015_export'].astype(float)
f16=df['Capture016_export'].astype(float)
f17=df['Capture017_export'].astype(float)
f18=df['Capture018_export'].astype(float)

In [91]:
df

,Capture009_export,Capture008_export,Capture007_export,Capture006_export,Capture005_export,Capture018_export,Capture017_export,Capture016_export,Capture015_export,Capture014_export
0,199.403064,185.159988,156.673836,28.486152,71.215380,NaN,NaN,NaN,NaN,NaN
1,384.563052,299.104596,199.403064,256.375368,256.375368,NaN,NaN,NaN,NaN,NaN
2,427.292280,455.778432,384.563052,427.292280,384.563052,NaN,NaN,NaN,NaN,NaN
3,441.535356,455.778432,413.049204,413.049204,413.049204,NaN,NaN,NaN,NaN,NaN
4,455.778432,441.535356,384.563052,413.049204,427.292280,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
20,NaN,NaN,NaN,NaN,NaN,216.701335,375.060002,422.289780,383.394669,372.281780
21,NaN,NaN,NaN,NaN,NaN,216.701335,377.838225,411.176892,388.951114,377.838225
22,NaN,NaN,NaN,NaN,NaN,NaN,377.838225,238.927113,208.366668,386.172891
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,238.927113,208.366668,36.116889
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.116889

In [92]:
def mean_confidence_interval(data, confidence=0.95):
    a = 1.0 * np.array(data)
    n = len(a)
    m, se = np.mean(a), scipy.stats.sem(a)
    h = se * scipy.stats.t.ppf((1 + confidence) / 2., n-1)
    return m, h

## далее считаем доверительные интервалы для каждого эксперимента

In [93]:
for i in range(10):
    m,h=mean_confidence_interval(df[df.columns[i]].dropna().astype(float))
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 422.21+-23.87
Experiment #1 355.40+-22.27
Experiment #2 366.59+-20.42
Experiment #3 394.64+-21.21
Experiment #4 368.62+-19.88
Experiment #5 363.95+-39.62
Experiment #6 369.62+-20.04
Experiment #7 390.46+-31.77
Experiment #8 354.92+-33.70
Experiment #9 334.61+-48.73

## доверительные интервалы для каждого эксперимента + Zscore

In [94]:
for i in range(10):
    temp=df[df.columns[i]].dropna().astype(float)
    z = np.abs(stats.zscore(temp))
    temp1 = temp[(z < 1)]
    m,h=mean_confidence_interval(temp1)
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 435.60+-7.76
Experiment #1 356.60+-14.95
Experiment #2 386.81+-5.91
Experiment #3 405.93+-7.03
Experiment #4 377.63+-12.09
Experiment #5 392.66+-2.01
Experiment #6 375.46+-2.13
Experiment #7 421.46+-2.24
Experiment #8 389.23+-1.19
Experiment #9 382.47+-13.17

## доверительные интервалы по эксперимертам суммарно для 3х метров

In [95]:
cylindr3m=[f14,f15,f16,f17,f18]
cyl3m=pd.concat(cylindr3m)
cyl3m=cyl3m.dropna()
z = np.abs(stats.zscore(cyl3m))
m,h=mean_confidence_interval(cyl3m)
print("Experiment 3m %2.2f+-%2.2f" % (m, h))
cyl3mp = cyl3m[(z < 1)]
m,h=mean_confidence_interval(cyl3mp)
print("Experiment 3m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 3m 362.39+-15.69
Experiment 3m + Zscore 392.97+-3.82

## доверительные интервалы по эксперимертам суммарно для 6х метров

In [96]:
cylindr6m=[f5,f6,f7,f8,f9]
cyl6m=pd.concat(cylindr6m)
cyl6m=cyl6m.dropna()
z = np.abs(stats.zscore(cyl6m))

m,h=mean_confidence_interval(cyl6m)
print("Experiment 6m %2.2f+-%2.2f" % (m, h))
cyl6mp = cyl6m[(z < 1)]
m,h=mean_confidence_interval(cyl6mp)
print("Experiment 6m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 6m 381.43+-9.89
Experiment 6m + Zscore 394.72+-4.87

## относительные ошибки в процентах

In [97]:
cyl3=np.array(cyl3mp)
cyl3=np.abs(cyl3-400)/400*100

cyl6=np.array(cyl6mp)
cyl6=np.abs(cyl6-400)/400*100

print("Max error 3m: %2.3f"%np.max(cyl3))
print("Max error 6m: %2.3f"%np.max(cyl6))

print("Mean error 3m: %2.3f"%np.mean(cyl3))
print("Mean error 6m: %2.3f"%np.mean(cyl6))

print("Median error 3m: %2.3f"%np.median(cyl3))
print("Median error 6m: %2.3f"%np.median(cyl6))

print("Min error 3m: %2.3f"%np.min(cyl3))
print("Min error 6m: %2.3f"%np.min(cyl6))

Max error 3m: 20.821
Max error 6m: 21.663
Mean error 3m: 4.215
Mean error 6m: 6.395
Median error 3m: 3.457
Median error 6m: 3.859
Min error 3m: 0.016
Min error 6m: 0.298

## все ошибки

In [98]:
np.set_printoptions(precision=2,suppress=True)
print(np.array(cyl3))

[ 0.68  0.71  0.71  0.71  1.41  0.71  1.37  0.68  1.37 13.88  4.85  4.85
  3.46  4.85  4.15  5.54  2.76  6.93  5.54  3.46  3.46  2.76  2.76  2.76
  2.76  2.07  3.46  3.46  2.07  2.07  2.07  2.76  2.76  2.76  2.76  2.76
  2.07  1.37  4.15  2.76 20.82  6.27  2.79  4.88  5.57  4.88  6.27  5.57
  4.88  6.27  6.27  6.96  4.18  6.27  6.27  6.96  5.57  4.88  4.18  5.57
  2.79 11.82  4.85  4.15  4.85  7.62  6.23  8.32  4.85  4.85  4.85  6.93
  7.62  6.93  5.54  6.93  7.62  6.23  6.23  6.93  6.23  5.54  5.54  0.71
  1.37  2.76  2.07  2.07  2.07  2.07  2.07  0.68  0.02  3.46  2.07  2.76
  1.37  2.76  2.07  2.07  2.07]

In [99]:
np.set_printoptions(precision=2,suppress=True)
print(np.array(cyl6))

[ 3.86  3.26  6.82  0.3  10.38  3.26  6.82  0.3   3.26  3.26  6.82 10.38
  6.82  3.26  0.3   0.3   3.86  3.26  0.3   0.3   3.86  7.42  0.3   7.42
 10.98  7.42 10.98 10.98 10.98 10.98 10.98 14.54 21.66 18.1  18.1  21.66
 21.66 18.1  18.1   6.82  3.26  3.26  0.3   6.82  3.26  6.82  3.26  0.3
 10.38  3.86  3.26  0.3   3.26  3.26  6.82  3.26  6.82  3.26  0.3   0.3
  6.82 10.38  0.3   3.26  0.3  10.98 10.98  3.26  3.26  0.3   3.26  0.3
  3.26  0.3   0.3  10.98 10.98  3.86  3.26  3.86  7.42 10.98  3.86  0.3
  0.3   3.86  3.86  3.86  6.82 10.98  7.42  3.86  0.3   7.42  7.42  7.42
  3.26  3.26  7.42  7.42  3.26  7.42  3.86  3.26  3.86  3.86  0.3   0.3
  3.26  0.3   3.86  3.86  7.42  3.86 10.98 10.38  6.82  3.26  6.82 10.38
  6.82  6.82  6.82  3.86  0.3   3.26  0.3   0.3   0.3  10.98  3.86 10.98
 10.98 10.98  3.86  7.42  3.86 10.98 10.98 14.54 14.54 18.1  14.54 21.66
 21.66  3.86  6.82 10.38  6.82  3.26  3.26 10.38  3.26  3.86  3.26  6.82
  6.82 10.38  0.3   6.82 10.38  6.82  6.82 10.38  3.26 10.38 10.38 10.38
 10.38 10.38  3.26]

## далее для каждого второго, третьего и четвертого, пятого и шестого элементов

## для каждого второго

In [100]:
for i in range(10):
    m,h=mean_confidence_interval(df[df.columns[i]].dropna().astype(float).to_numpy()[::2])
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 427.29+-32.42
Experiment #1 354.72+-31.89
Experiment #2 362.86+-30.93
Experiment #3 385.92+-38.79
Experiment #4 365.57+-35.94
Experiment #5 345.76+-75.46
Experiment #6 359.32+-38.07
Experiment #7 385.02+-58.33
Experiment #8 351.45+-56.48
Experiment #9 324.84+-76.38

## для каждого третьего

In [101]:
for i in range(10):
    m,h=mean_confidence_interval(df[df.columns[i]].dropna().astype(float).to_numpy()[::3])
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 429.33+-42.53
Experiment #1 347.94+-41.90
Experiment #2 368.29+-36.90
Experiment #3 375.41+-59.27
Experiment #4 361.16+-52.87
Experiment #5 326.79+-107.45
Experiment #6 350.40+-61.23
Experiment #7 385.13+-80.51
Experiment #8 355.96+-78.96
Experiment #9 309.31+-113.29

## для каждого четвертого

In [102]:
for i in range(10):
    m,h=mean_confidence_interval(df[df.columns[i]].dropna().astype(float).to_numpy()[::4])
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 424.70+-66.41
Experiment #1 341.83+-53.96
Experiment #2 347.01+-61.46
Experiment #3 369.03+-78.02
Experiment #4 356.08+-68.33
Experiment #5 305.14+-151.59
Experiment #6 340.80+-88.23
Experiment #7 377.84+-118.60
Experiment #8 343.57+-113.83
Experiment #9 286.55+-149.92

## для каждого пятого

In [103]:
for i in range(10):
    m,h=mean_confidence_interval(df[df.columns[i]].dropna().astype(float).to_numpy()[::5])
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 389.31+-69.03
Experiment #1 335.50+-66.17
Experiment #2 333.92+-74.88
Experiment #3 351.33+-94.50
Experiment #4 341.83+-82.11
Experiment #5 288.94+-192.92
Experiment #6 333.39+-113.89
Experiment #7 368.39+-153.51
Experiment #8 335.05+-147.76
Experiment #9 325.05+-179.93

## для каждого шестого

In [104]:
for i in range(10):
    m,h=mean_confidence_interval(df[df.columns[i]].dropna().astype(float).to_numpy()[::6])
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 413.05+-95.60
Experiment #1 331.66+-70.82
Experiment #2 343.87+-76.97
Experiment #3 352.01+-134.49
Experiment #4 343.87+-116.94
Experiment #5 305.60+-274.09
Experiment #6 322.27+-162.15
Experiment #7 353.53+-218.92
Experiment #8 323.66+-213.68
Experiment #9 245.59+-222.02

## для каждого второго + Z-score

In [105]:
for i in range(10):
    temp=df[df.columns[i]].dropna().astype(float).to_numpy()[::2]
    z = np.abs(stats.zscore(temp))
    temp1 = temp[(z < 1)]
    m,h=mean_confidence_interval(temp1)
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 437.08+-10.63
Experiment #1 361.56+-20.35
Experiment #2 383.81+-7.75
Experiment #3 403.79+-11.29
Experiment #4 380.29+-19.72
Experiment #5 393.27+-2.16
Experiment #6 376.58+-2.81
Experiment #7 423.40+-2.33
Experiment #8 388.67+-1.98
Experiment #9 374.55+-25.59

## для каждого третьего + Z-score

In [106]:
for i in range(10):
    temp=df[df.columns[i]].dropna().astype(float).to_numpy()[::3]
    z = np.abs(stats.zscore(temp))
    temp1 = temp[(z < 1)]
    m,h=mean_confidence_interval(temp1)
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 441.54+-18.10
Experiment #1 354.65+-29.39
Experiment #2 384.56+-12.17
Experiment #3 402.09+-14.97
Experiment #4 383.47+-23.69
Experiment #5 366.73+-61.24
Experiment #6 376.25+-4.41
Experiment #7 419.11+-5.83
Experiment #8 389.35+-1.77
Experiment #9 383.00+-18.01

## для каждого четвертого + Z-score

In [107]:
for i in range(10):
    temp=df[df.columns[i]].dropna().astype(float).to_numpy()[::4]
    z = np.abs(stats.zscore(temp))
    temp1 = temp[(z < 1)]
    m,h=mean_confidence_interval(temp1)
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 466.86+-23.08
Experiment #1 349.97+-37.15
Experiment #2 387.73+-10.64
Experiment #3 403.08+-20.41
Experiment #4 384.56+-28.42
Experiment #5 356.72+-97.19
Experiment #6 375.06+-6.90
Experiment #7 423.96+-4.63
Experiment #8 387.84+-3.93
Experiment #9 380.62+-30.17

## для каждого пятого + Z-score

In [108]:
for i in range(10):
    temp=df[df.columns[i]].dropna().astype(float).to_numpy()[::5]
    z = np.abs(stats.zscore(temp))
    temp1 = temp[(z < 1)]
    m,h=mean_confidence_interval(temp1)
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 433.40+-10.36
Experiment #1 347.53+-63.27
Experiment #2 382.53+-14.08
Experiment #3 391.68+-19.09
Experiment #4 375.66+-29.81
Experiment #5 349.36+-140.93
Experiment #6 374.37+-7.55
Experiment #7 423.68+-2.55
Experiment #8 388.26+-5.56
Experiment #9 389.65+-21.47

## для каждого шестого + Z-score

In [109]:
for i in range(10):
    temp=df[df.columns[i]].dropna().astype(float).to_numpy()[::6]
    z = np.abs(stats.zscore(temp))
    temp1 = temp[(z < 1)]
    m,h=mean_confidence_interval(temp1)
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 435.84+-47.78
Experiment #1 344.68+-49.07
Experiment #2 375.07+-12.20
Experiment #3 405.93+-32.40
Experiment #4 389.31+-45.01
Experiment #5 391.73+-0.00
Experiment #6 373.21+-7.97
Experiment #7 422.29+-11.95
Experiment #8 390.80+-3.98
Experiment #9 375.06+-72.71

## доверительные интервалы по эксперимертам суммарно для 3х метров, каждый второй элемент

In [110]:
cylindr3m=[]
for i in range(5,10):
    cylindr3m.append(df[df.columns[i]].dropna().astype(float)[::2])
cyl3m=pd.concat(cylindr3m)
cyl3m=cyl3m.dropna()
z = np.abs(stats.zscore(cyl3m))
m,h=mean_confidence_interval(cyl3m)
print("Experiment 3m %2.2f+-%2.2f" % (m, h))
cyl3mp = cyl3m[(z < 1)]
m,h=mean_confidence_interval(cyl3mp)
print("Experiment 3m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 3m 352.93+-25.18
Experiment 3m + Zscore 390.64+-6.98

## доверительные интервалы по эксперимертам суммарно для 6ти метров, каждый второй элемент

In [111]:
cylindr6m=[]
for i in range(0,5):
    cylindr6m.append(df[df.columns[i]].dropna().astype(float)[::2])
cyl6m=pd.concat(cylindr6m)
cyl6m=cyl6m.dropna()
z = np.abs(stats.zscore(cyl6m))
m,h=mean_confidence_interval(cyl6m)
print("Experiment 6m %2.2f+-%2.2f" % (m, h))
cyl6mp = cyl6m[(z < 1)]
m,h=mean_confidence_interval(cyl6mp)
print("Experiment 6m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 6m 379.27+-15.10
Experiment 6m + Zscore 395.45+-7.41

In [112]:
cyl3=np.array(cyl3mp)
cyl3=np.abs(cyl3-400)/400*100

cyl6=np.array(cyl6mp)
cyl6=np.abs(cyl6-400)/400*100

print("Max error 3m: %2.3f"%np.max(cyl3))
print("Max error 6m: %2.3f"%np.max(cyl6))

print("Mean error 3m: %2.3f"%np.mean(cyl3))
print("Mean error 6m: %2.3f"%np.mean(cyl6))

print("Median error 3m: %2.3f"%np.median(cyl3))
print("Median error 6m: %2.3f"%np.median(cyl6))

print("Min error 3m: %2.3f"%np.min(cyl3))
print("Min error 6m: %2.3f"%np.min(cyl6))

Max error 3m: 31.934
Max error 6m: 21.663
Mean error 3m: 4.718
Mean error 6m: 7.118
Median error 3m: 4.846
Median error 6m: 6.823
Min error 3m: 0.016
Min error 6m: 0.298

## доверительные интервалы по эксперимертам суммарно для 3х метров, каждый третий элемент

In [113]:
cylindr3m=[]
for i in range(5,10):
    cylindr3m.append(df[df.columns[i]].dropna().astype(float)[::3])
cyl3m=pd.concat(cylindr3m)
cyl3m=cyl3m.dropna()
z = np.abs(stats.zscore(cyl3m))
m,h=mean_confidence_interval(cyl3m)
print("Experiment 3m %2.2f+-%2.2f" % (m, h))
cyl3mp = cyl3m[(z < 1)]
m,h=mean_confidence_interval(cyl3mp)
print("Experiment 3m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 3m 344.64+-34.67
Experiment 3m + Zscore 391.89+-6.14

## доверительные интервалы по эксперимертам суммарно для 6ти метров, каждый третий элемент

In [114]:
cylindr6m=[]
for i in range(0,5):
    cylindr6m.append(df[df.columns[i]].dropna().astype(float)[::3])
cyl6m=pd.concat(cylindr6m)
cyl6m=cyl6m.dropna()
z = np.abs(stats.zscore(cyl6m))
m,h=mean_confidence_interval(cyl6m)
print("Experiment 6m %2.2f+-%2.2f" % (m, h))
cyl6mp = cyl6m[(z < 1)]
m,h=mean_confidence_interval(cyl6mp)
print("Experiment 6m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 6m 376.42+-20.15
Experiment 6m + Zscore 393.50+-9.14

In [115]:
cyl3=np.array(cyl3mp)
cyl3=np.abs(cyl3-400)/400*100

cyl6=np.array(cyl6mp)
cyl6=np.abs(cyl6-400)/400*100

print("Max error 3m: %2.3f"%np.max(cyl3))
print("Max error 6m: %2.3f"%np.max(cyl6))

print("Mean error 3m: %2.3f"%np.mean(cyl3))
print("Mean error 6m: %2.3f"%np.mean(cyl6))

print("Median error 3m: %2.3f"%np.median(cyl3))
print("Median error 6m: %2.3f"%np.median(cyl6))

print("Min error 3m: %2.3f"%np.min(cyl3))
print("Min error 6m: %2.3f"%np.min(cyl6))

Max error 3m: 13.875
Max error 6m: 25.224
Mean error 3m: 4.036
Mean error 6m: 6.926
Median error 3m: 3.126
Median error 6m: 6.823
Min error 3m: 0.679
Min error 6m: 0.298

## доверительные интервалы по эксперимертам суммарно для 3х метров, каждый четвертый элемент

In [116]:
cylindr3m=[]
for i in range(5,10):
    cylindr3m.append(df[df.columns[i]].dropna().astype(float)[::4])
cyl3m=pd.concat(cylindr3m)
cyl3m=cyl3m.dropna()
z = np.abs(stats.zscore(cyl3m))
m,h=mean_confidence_interval(cyl3m)
print("Experiment 3m %2.2f+-%2.2f" % (m, h))
cyl3mp = cyl3m[(z < 1)]
m,h=mean_confidence_interval(cyl3mp)
print("Experiment 3m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 3m 329.35+-45.05
Experiment 3m + Zscore 384.84+-16.70

## доверительные интервалы по эксперимертам суммарно для 6ти метров, каждый четвертый элемент

In [117]:
cylindr6m=[]
for i in range(0,5):
    cylindr6m.append(df[df.columns[i]].dropna().astype(float)[::4])
cyl6m=pd.concat(cylindr6m)
cyl6m=cyl6m.dropna()
z = np.abs(stats.zscore(cyl6m))
m,h=mean_confidence_interval(cyl6m)
print("Experiment 6m %2.2f+-%2.2f" % (m, h))
cyl6mp = cyl6m[(z < 1)]
m,h=mean_confidence_interval(cyl6mp)
print("Experiment 6m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 6m 367.73+-26.87
Experiment 6m + Zscore 390.71+-13.19

In [118]:
cyl3=np.array(cyl3mp)
cyl3=np.abs(cyl3-400)/400*100

cyl6=np.array(cyl6mp)
cyl6=np.abs(cyl6-400)/400*100

print("Max error 3m: %2.3f"%np.max(cyl3))
print("Max error 6m: %2.3f"%np.max(cyl6))

print("Mean error 3m: %2.3f"%np.mean(cyl3))
print("Mean error 6m: %2.3f"%np.mean(cyl6))

print("Median error 3m: %2.3f"%np.median(cyl3))
print("Median error 6m: %2.3f"%np.median(cyl6))

print("Min error 3m: %2.3f"%np.min(cyl3))
print("Min error 6m: %2.3f"%np.min(cyl6))

Max error 3m: 45.825
Max error 6m: 32.345
Mean error 3m: 6.300
Mean error 6m: 8.390
Median error 3m: 4.846
Median error 6m: 6.823
Min error 3m: 0.711
Min error 6m: 0.298

## доверительные интервалы по эксперимертам суммарно для 3х метров, каждый пятый элемент

In [119]:
cylindr3m=[]
for i in range(5,10):
    cylindr3m.append(df[df.columns[i]].dropna().astype(float)[::5])
cyl3m=pd.concat(cylindr3m)
cyl3m=cyl3m.dropna()
z = np.abs(stats.zscore(cyl3m))
m,h=mean_confidence_interval(cyl3m)
print("Experiment 3m %2.2f+-%2.2f" % (m, h))
cyl3mp = cyl3m[(z < 1)]
m,h=mean_confidence_interval(cyl3mp)
print("Experiment 3m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 3m 330.16+-49.71
Experiment 3m + Zscore 385.06+-20.33

## доверительные интервалы по эксперимертам суммарно для 6ти метров, каждый пятый элемент

In [120]:
cylindr6m=[]
for i in range(0,5):
    cylindr6m.append(df[df.columns[i]].dropna().astype(float)[::5])
cyl6m=pd.concat(cylindr6m)
cyl6m=cyl6m.dropna()
z = np.abs(stats.zscore(cyl6m))
m,h=mean_confidence_interval(cyl6m)
print("Experiment 6m %2.2f+-%2.2f" % (m, h))
cyl6mp = cyl6m[(z < 1)]
m,h=mean_confidence_interval(cyl6mp)
print("Experiment 6m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 6m 350.38+-29.72
Experiment 6m + Zscore 387.19+-13.89

In [121]:
cyl3=np.array(cyl3mp)
cyl3=np.abs(cyl3-400)/400*100

cyl6=np.array(cyl6mp)
cyl6=np.abs(cyl6-400)/400*100

print("Max error 3m: %2.3f"%np.max(cyl3))
print("Max error 6m: %2.3f"%np.max(cyl6))

print("Mean error 3m: %2.3f"%np.mean(cyl3))
print("Mean error 6m: %2.3f"%np.mean(cyl6))

print("Median error 3m: %2.3f"%np.median(cyl3))
print("Median error 6m: %2.3f"%np.median(cyl6))

print("Min error 3m: %2.3f"%np.min(cyl3))
print("Min error 6m: %2.3f"%np.min(cyl6))

Max error 3m: 45.825
Max error 6m: 32.345
Mean error 3m: 6.175
Mean error 6m: 7.856
Median error 3m: 4.499
Median error 6m: 6.823
Min error 3m: 0.016
Min error 6m: 0.298

## доверительные интервалы по эксперимертам суммарно для 3х метров, каждый шестой элемент

In [122]:
cylindr3m=[]
for i in range(5,10):
    cylindr3m.append(df[df.columns[i]].dropna().astype(float)[::6])
cyl3m=pd.concat(cylindr3m)
cyl3m=cyl3m.dropna()
z = np.abs(stats.zscore(cyl3m))
m,h=mean_confidence_interval(cyl3m)
print("Experiment 3m %2.2f+-%2.2f" % (m, h))
cyl3mp = cyl3m[(z < 1)]
m,h=mean_confidence_interval(cyl3mp)
print("Experiment 3m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 3m 307.06+-63.44
Experiment 3m + Zscore 390.62+-11.87

## доверительные интервалы по эксперимертам суммарно для 6ти метров, каждый шестой элемент

In [123]:
cylindr6m=[]
for i in range(0,5):
    cylindr6m.append(df[df.columns[i]].dropna().astype(float)[::6])
cyl6m=pd.concat(cylindr6m)
cyl6m=cyl6m.dropna()
z = np.abs(stats.zscore(cyl6m))
m,h=mean_confidence_interval(cyl6m)
print("Experiment 6m %2.2f+-%2.2f" % (m, h))
cyl6mp = cyl6m[(z < 1)]
m,h=mean_confidence_interval(cyl6mp)
print("Experiment 6m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 6m 356.89+-36.92
Experiment 6m + Zscore 387.11+-14.73

In [124]:
cyl3=np.array(cyl3mp)
cyl3=np.abs(cyl3-400)/400*100

cyl6=np.array(cyl6mp)
cyl6=np.abs(cyl6-400)/400*100

print("Max error 3m: %2.3f"%np.max(cyl3))
print("Max error 6m: %2.3f"%np.max(cyl6))

print("Mean error 3m: %2.3f"%np.mean(cyl3))
print("Mean error 6m: %2.3f"%np.mean(cyl6))

print("Median error 3m: %2.3f"%np.median(cyl3))
print("Median error 6m: %2.3f"%np.median(cyl6))

print("Min error 3m: %2.3f"%np.min(cyl3))
print("Min error 6m: %2.3f"%np.min(cyl6))

Max error 3m: 13.875
Max error 6m: 28.785
Mean error 3m: 4.669
Mean error 6m: 7.843
Median error 3m: 4.878
Median error 6m: 6.823
Min error 3m: 0.711
Min error 6m: 0.298

In [125]:
df.to_excel("final.xlsx")