In [38]:
import pandas as pd
import numpy as np
import scipy.stats
import matplotlib.pyplot as plt
from scipy import stats

In [39]:
df1=pd.read_csv("danz.csv-6m-ball")
df2=pd.read_csv("danz.csv-3m-ball")
df=pd.concat([df1,df2])
df=df.dropna(how='all')
df=df.dropna(how='all',axis='columns')

f5=df['Capture002_export'].astype(float)
f6=df['Capture003_export'].astype(float)
f7=df['Capture004_export'].astype(float)
f8=df['Capture005_export'].astype(float)
f9=df['Capture006_export'].astype(float)

f14=df['Capture007_export'].astype(float)
f15=df['Capture008_export'].astype(float)
f16=df['Capture009_export'].astype(float)
f17=df['Capture010_export'].astype(float)
f18=df['Capture011_export'].astype(float)

In [40]:
df

,Capture006_export,Capture005_export,Capture004_export,Capture003_export,Capture002_export,Capture011_export,Capture010_export,Capture009_export,Capture008_export,Capture007_export
0,238.008198,198.340165,343.789620,185.117488,158.672132,NaN,NaN,NaN,NaN,NaN
1,357.012298,330.566942,330.566942,317.344265,370.234975,NaN,NaN,NaN,NaN,NaN
2,330.566942,343.789620,317.344265,290.898909,330.566942,NaN,NaN,NaN,NaN,NaN
3,317.344265,343.789620,317.344265,304.121587,343.789620,NaN,NaN,NaN,NaN,NaN
4,304.121587,317.344265,317.344265,317.344265,317.344265,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
23,NaN,NaN,NaN,NaN,NaN,324.115984,324.115984,330.730596,337.345208,320.808678
24,NaN,NaN,NaN,NaN,NaN,330.730596,324.115984,330.730596,327.423290,324.115984
25,NaN,NaN,NaN,NaN,NaN,343.959820,337.345208,330.730596,324.115984,327.423290
26,NaN,NaN,NaN,NaN,NaN,337.345208,287.735619,340.652514,324.115984,13.229224
27,NaN,NaN,NaN,NaN,NaN,300.964842,NaN,198.438358,320.808678,13.229224

In [41]:
def mean_confidence_interval(data, confidence=0.95):
    a = 1.0 * np.array(data)
    n = len(a)
    m, se = np.mean(a), scipy.stats.sem(a)
    h = se * scipy.stats.t.ppf((1 + confidence) / 2., n-1)
    return m, h

## далее считаем доверительные интервалы для каждого эксперимента

In [42]:
for i in range(10):
    m,h=mean_confidence_interval(df[df.columns[i]].dropna().astype(float))
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 319.72+-7.22
Experiment #1 322.43+-8.38
Experiment #2 309.51+-21.87
Experiment #3 324.29+-10.13
Experiment #4 316.42+-16.72
Experiment #5 319.16+-17.30
Experiment #6 312.85+-19.91
Experiment #7 317.62+-18.55
Experiment #8 309.35+-23.67
Experiment #9 294.11+-33.81

## доверительные интервалы для каждого эксперимента + Zscore

In [43]:
for i in range(10):
    temp=df[df.columns[i]].dropna().astype(float)
    z = np.abs(stats.zscore(temp))
    temp1 = temp[(z < 1)]
    m,h=mean_confidence_interval(temp1)
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 318.87+-4.09
Experiment #1 327.63+-4.80
Experiment #2 319.89+-5.01
Experiment #3 324.60+-5.44
Experiment #4 328.13+-5.43
Experiment #5 329.71+-3.25
Experiment #6 324.51+-3.91
Experiment #7 329.97+-4.31
Experiment #8 324.12+-2.45
Experiment #9 323.06+-1.66

## доверительные интервалы по эксперимертам суммарно для 3х метров

In [44]:
cylindr3m=[f14,f15,f16,f17,f18]
cyl3m=pd.concat(cylindr3m)
cyl3m=cyl3m.dropna()
z = np.abs(stats.zscore(cyl3m))
m,h=mean_confidence_interval(cyl3m)
print("Experiment 3m %2.2f+-%2.2f" % (m, h))
cyl3mp = cyl3m[(z < 1)]
m,h=mean_confidence_interval(cyl3mp)
print("Experiment 3m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 3m 310.60+-10.08
Experiment 3m + Zscore 325.29+-2.04

## доверительные интервалы по эксперимертам суммарно для 6х метров

In [45]:
cylindr6m=[f5,f6,f7,f8,f9]
cyl6m=pd.concat(cylindr6m)
cyl6m=cyl6m.dropna()
z = np.abs(stats.zscore(cyl6m))

m,h=mean_confidence_interval(cyl6m)
print("Experiment 6m %2.2f+-%2.2f" % (m, h))
cyl6mp = cyl6m[(z < 1)]
m,h=mean_confidence_interval(cyl6mp)
print("Experiment 6m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 6m 319.03+-5.68
Experiment 6m + Zscore 324.86+-2.48

## относительные ошибки в процентах

In [46]:
cyl3=np.array(cyl3mp)
cyl3=np.abs(cyl3-400)/400*100

cyl6=np.array(cyl6mp)
cyl6=np.abs(cyl6-400)/400*100

print("Max error 3m: %2.3f"%np.max(cyl3))
print("Max error 6m: %2.3f"%np.max(cyl6))

print("Mean error 3m: %2.3f"%np.mean(cyl3))
print("Mean error 6m: %2.3f"%np.mean(cyl6))

print("Median error 3m: %2.3f"%np.median(cyl3))
print("Median error 6m: %2.3f"%np.median(cyl6))

print("Min error 3m: %2.3f"%np.min(cyl3))
print("Min error 6m: %2.3f"%np.min(cyl6))

Max error 3m: 35.508
Max error 6m: 27.275
Mean error 3m: 18.678
Mean error 6m: 18.786
Median error 3m: 18.558
Median error 6m: 20.664
Min error 3m: 14.010
Min error 6m: 10.747

## все ошибки

In [47]:
np.set_printoptions(precision=2,suppress=True)
print(np.array(cyl3))

[18.97 18.97 22.28 19.8  18.97 18.97 21.45 18.97 18.97 18.97 18.14 18.97
 18.97 18.14 19.8  18.97 17.32 18.97 18.97 19.8  19.8  19.8  19.8  18.97
 18.14 21.45 20.62 18.97 19.8  20.62 20.62 18.14 18.14 18.14 19.8  18.14
 18.14 18.97 22.28 18.97 19.8  18.14 15.66 18.97 17.32 18.97 15.66 18.14
 18.97 18.97 19.8  28.89 19.8  16.49 18.97 18.14 18.97 17.32 18.97 18.14
 16.49 17.32 18.14 16.49 15.66 17.32 17.32 15.66 15.66 14.84 15.66 15.66
 16.49 17.32 17.32 17.32 14.84 34.68 21.45 18.97 18.97 16.49 16.49 18.14
 18.97 18.97 18.14 17.32 20.62 19.8  18.97 19.8  18.14 16.49 18.14 18.97
 19.8  18.97 16.49 18.97 18.97 15.66 28.07 35.51 18.97 19.8  16.49 18.97
 18.14 18.14 15.66 18.97 18.14 18.14 16.49 17.32 16.49 18.14 18.14 17.32
 15.66 16.49 16.49 15.66 16.49 18.97 17.32 14.01 15.66 24.76]

In [48]:
np.set_printoptions(precision=2,suppress=True)
print(np.array(cyl6))

[17.36 14.05 20.66 23.97 14.05 14.05 20.66 20.66 10.75 14.05 17.36 17.36
 17.36 17.36 23.97 20.66 17.36 20.66 17.36 14.05 14.05 20.66 23.97 20.66
 17.36 20.66 14.05 14.05 10.75 14.05 20.66 27.28 23.97 23.97 20.66 14.05
 14.05 14.05 20.66 27.28 23.97 20.66 14.05 10.75 14.05 20.66 20.66 17.36
 23.97 17.36 20.66 14.05 23.97 14.05 20.66 23.97 20.66 17.36 10.75 14.05
 10.75 20.66 17.36 20.66 20.66 17.36 14.05 20.66 23.97 23.97 14.05 10.75
 14.05 14.05 14.05 17.36 20.66 20.66 20.66 20.66 17.36 20.66 20.66 14.05
 20.66 17.36 20.66 23.97 17.36 17.36 20.66 23.97 20.66 20.66 17.36 27.28
 23.97 17.36 23.97 20.66 17.36 14.05 14.05 20.66 17.36 17.36 14.05 14.05
 14.05 14.05 17.36 20.66 14.05 20.66 27.28 23.97 23.97 20.66 17.36 17.36
 20.66 20.66 17.36 27.28 14.05 23.97 23.97 14.05 14.05 20.66 14.05 20.66
 20.66 20.66 14.05 23.97 17.36 17.36 10.75 17.36 20.66 23.97 27.28 23.97
 17.36 17.36 14.05 20.66 20.66 17.36 20.66 27.28 27.28 23.97 14.05 17.36
 20.66 27.28 17.36 23.97 20.66 14.05 17.36 20.66 23.97 14.05 17.36 14.05
 14.05 20.66 10.75 20.66 20.66 20.66 23.97 17.36]

## далее для каждого второго, третьего и четвертого, пятого и шестого элементов

## для каждого второго

In [49]:
for i in range(10):
    m,h=mean_confidence_interval(df[df.columns[i]].dropna().astype(float).to_numpy()[::2])
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 315.36+-11.41
Experiment #1 315.36+-14.65
Experiment #2 300.34+-43.75
Experiment #3 325.28+-18.34
Experiment #4 310.73+-25.83
Experiment #5 316.08+-35.02
Experiment #6 304.27+-39.02
Experiment #7 315.61+-33.40
Experiment #8 302.15+-47.52
Experiment #9 287.74+-54.30

## для каждого третьего

In [50]:
for i in range(10):
    m,h=mean_confidence_interval(df[df.columns[i]].dropna().astype(float).to_numpy()[::3])
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 319.38+-18.70
Experiment #1 307.17+-22.16
Experiment #2 321.75+-13.45
Experiment #3 317.34+-28.41
Experiment #4 306.77+-38.96
Experiment #5 304.60+-50.53
Experiment #6 296.56+-64.60
Experiment #7 296.33+-54.40
Experiment #8 292.37+-69.47
Experiment #9 271.86+-77.76

## для каждого четвертого

In [51]:
for i in range(10):
    m,h=mean_confidence_interval(df[df.columns[i]].dropna().astype(float).to_numpy()[::4])
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 312.06+-22.38
Experiment #1 306.77+-29.85
Experiment #2 321.12+-11.63
Experiment #3 317.34+-35.11
Experiment #4 307.73+-34.43
Experiment #5 300.49+-79.44
Experiment #6 287.26+-87.53
Experiment #7 298.60+-74.69
Experiment #8 281.59+-108.11
Experiment #9 295.77+-66.68

## для каждого пятого

In [52]:
for i in range(10):
    m,h=mean_confidence_interval(df[df.columns[i]].dropna().astype(float).to_numpy()[::5])
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 302.47+-27.36
Experiment #1 312.39+-41.34
Experiment #2 326.16+-11.33
Experiment #3 315.69+-47.06
Experiment #4 308.53+-45.74
Experiment #5 293.80+-96.92
Experiment #6 285.53+-109.62
Experiment #7 296.00+-92.74
Experiment #8 270.65+-130.78
Experiment #9 291.59+-81.94

## для каждого шестого

In [53]:
for i in range(10):
    m,h=mean_confidence_interval(df[df.columns[i]].dropna().astype(float).to_numpy()[::6])
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 315.46+-34.17
Experiment #1 296.57+-41.68
Experiment #2 322.63+-18.72
Experiment #3 323.01+-59.85
Experiment #4 280.98+-74.68
Experiment #5 287.07+-125.88
Experiment #6 275.17+-140.69
Experiment #7 287.07+-119.07
Experiment #8 263.26+-171.34
Experiment #9 285.75+-106.52

## для каждого второго + Z-score

In [54]:
for i in range(10):
    temp=df[df.columns[i]].dropna().astype(float).to_numpy()[::2]
    z = np.abs(stats.zscore(temp))
    temp1 = temp[(z < 1)]
    m,h=mean_confidence_interval(temp1)
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 318.29+-6.33
Experiment #1 321.52+-7.38
Experiment #2 320.40+-6.65
Experiment #3 330.57+-10.09
Experiment #4 327.92+-7.93
Experiment #5 332.26+-2.66
Experiment #6 322.08+-7.09
Experiment #7 330.99+-3.87
Experiment #8 324.12+-2.45
Experiment #9 323.56+-1.21

## для каждого третьего + Z-score

In [55]:
for i in range(10):
    temp=df[df.columns[i]].dropna().astype(float).to_numpy()[::3]
    z = np.abs(stats.zscore(temp))
    temp1 = temp[(z < 1)]
    m,h=mean_confidence_interval(temp1)
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 323.35+-12.16
Experiment #1 310.73+-9.19
Experiment #2 322.63+-8.99
Experiment #3 325.28+-16.80
Experiment #4 332.60+-10.24
Experiment #5 326.69+-8.60
Experiment #6 324.53+-4.03
Experiment #7 331.14+-4.03
Experiment #8 323.01+-5.08
Experiment #9 321.64+-3.84

## для каждого четвертого + Z-score

In [56]:
for i in range(10):
    temp=df[df.columns[i]].dropna().astype(float).to_numpy()[::4]
    z = np.abs(stats.zscore(temp))
    temp1 = temp[(z < 1)]
    m,h=mean_confidence_interval(temp1)
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 313.57+-13.61
Experiment #1 318.81+-13.87
Experiment #2 319.99+-7.34
Experiment #3 332.04+-12.90
Experiment #4 322.63+-10.17
Experiment #5 332.94+-3.58
Experiment #6 323.01+-3.58
Experiment #7 329.08+-5.26
Experiment #8 325.77+-1.90
Experiment #9 323.01+-1.79

## для каждого пятого + Z-score

In [57]:
for i in range(10):
    temp=df[df.columns[i]].dropna().astype(float).to_numpy()[::5]
    z = np.abs(stats.zscore(temp))
    temp1 = temp[(z < 1)]
    m,h=mean_confidence_interval(temp1)
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 306.33+-18.44
Experiment #1 328.68+-17.90
Experiment #2 322.63+-8.99
Experiment #3 328.36+-16.22
Experiment #4 327.26+-17.48
Experiment #5 331.39+-9.80
Experiment #6 328.08+-9.36
Experiment #7 332.05+-4.68
Experiment #8 321.47+-7.90
Experiment #9 323.45+-3.44

## для каждого шестого + Z-score

In [58]:
for i in range(10):
    temp=df[df.columns[i]].dropna().astype(float).to_numpy()[::6]
    z = np.abs(stats.zscore(temp))
    temp1 = temp[(z < 1)]
    m,h=mean_confidence_interval(temp1)
    print("Experiment #%i %2.2f+-%2.2f" % (i, m, h))

Experiment #0 328.36+-16.22
Experiment #1 312.94+-14.33
Experiment #2 321.75+-18.96
Experiment #3 345.99+-25.46
Experiment #4 328.36+-16.22
Experiment #5 332.38+-6.79
Experiment #6 325.77+-10.96
Experiment #7 329.90+-8.99
Experiment #8 324.94+-7.89
Experiment #9 324.12+-0.00

## доверительные интервалы по эксперимертам суммарно для 3х метров, каждый второй элемент

In [59]:
cylindr3m=[]
for i in range(5,10):
    cylindr3m.append(df[df.columns[i]].dropna().astype(float)[::2])
cyl3m=pd.concat(cylindr3m)
cyl3m=cyl3m.dropna()
z = np.abs(stats.zscore(cyl3m))
m,h=mean_confidence_interval(cyl3m)
print("Experiment 3m %2.2f+-%2.2f" % (m, h))
cyl3mp = cyl3m[(z < 1)]
m,h=mean_confidence_interval(cyl3mp)
print("Experiment 3m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 3m 305.17+-17.25
Experiment 3m + Zscore 326.65+-1.92

## доверительные интервалы по эксперимертам суммарно для 6ти метров, каждый второй элемент

In [60]:
cylindr6m=[]
for i in range(0,5):
    cylindr6m.append(df[df.columns[i]].dropna().astype(float)[::2])
cyl6m=pd.concat(cylindr6m)
cyl6m=cyl6m.dropna()
z = np.abs(stats.zscore(cyl6m))
m,h=mean_confidence_interval(cyl6m)
print("Experiment 6m %2.2f+-%2.2f" % (m, h))
cyl6mp = cyl6m[(z < 1)]
m,h=mean_confidence_interval(cyl6mp)
print("Experiment 6m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 6m 314.18+-9.54
Experiment 6m + Zscore 324.18+-3.54

In [61]:
cyl3=np.array(cyl3mp)
cyl3=np.abs(cyl3-400)/400*100

cyl6=np.array(cyl6mp)
cyl6=np.abs(cyl6-400)/400*100

print("Max error 3m: %2.3f"%np.max(cyl3))
print("Max error 6m: %2.3f"%np.max(cyl6))

print("Mean error 3m: %2.3f"%np.mean(cyl3))
print("Mean error 6m: %2.3f"%np.mean(cyl6))

print("Median error 3m: %2.3f"%np.median(cyl3))
print("Median error 6m: %2.3f"%np.median(cyl6))

print("Min error 3m: %2.3f"%np.min(cyl3))
print("Min error 6m: %2.3f"%np.min(cyl6))

Max error 3m: 28.066
Max error 6m: 27.275
Mean error 3m: 18.338
Mean error 6m: 18.955
Median error 3m: 18.558
Median error 6m: 20.664
Min error 3m: 14.837
Min error 6m: 10.747

## доверительные интервалы по эксперимертам суммарно для 3х метров, каждый третий элемент

In [62]:
cylindr3m=[]
for i in range(5,10):
    cylindr3m.append(df[df.columns[i]].dropna().astype(float)[::3])
cyl3m=pd.concat(cylindr3m)
cyl3m=cyl3m.dropna()
z = np.abs(stats.zscore(cyl3m))
m,h=mean_confidence_interval(cyl3m)
print("Experiment 3m %2.2f+-%2.2f" % (m, h))
cyl3mp = cyl3m[(z < 1)]
m,h=mean_confidence_interval(cyl3mp)
print("Experiment 3m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 3m 292.26+-24.55
Experiment 3m + Zscore 325.38+-2.32

## доверительные интервалы по эксперимертам суммарно для 6ти метров, каждый третий элемент

In [63]:
cylindr6m=[]
for i in range(0,5):
    cylindr6m.append(df[df.columns[i]].dropna().astype(float)[::3])
cyl6m=pd.concat(cylindr6m)
cyl6m=cyl6m.dropna()
z = np.abs(stats.zscore(cyl6m))
m,h=mean_confidence_interval(cyl6m)
print("Experiment 6m %2.2f+-%2.2f" % (m, h))
cyl6mp = cyl6m[(z < 1)]
m,h=mean_confidence_interval(cyl6mp)
print("Experiment 6m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 6m 313.83+-11.49
Experiment 6m + Zscore 323.84+-4.95

In [64]:
cyl3=np.array(cyl3mp)
cyl3=np.abs(cyl3-400)/400*100

cyl6=np.array(cyl6mp)
cyl6=np.abs(cyl6-400)/400*100

print("Max error 3m: %2.3f"%np.max(cyl3))
print("Max error 6m: %2.3f"%np.max(cyl6))

print("Mean error 3m: %2.3f"%np.mean(cyl3))
print("Mean error 6m: %2.3f"%np.mean(cyl6))

print("Median error 3m: %2.3f"%np.median(cyl3))
print("Median error 6m: %2.3f"%np.median(cyl6))

print("Min error 3m: %2.3f"%np.min(cyl3))
print("Min error 6m: %2.3f"%np.min(cyl6))

Max error 3m: 24.759
Max error 6m: 27.275
Mean error 3m: 18.656
Mean error 6m: 19.041
Median error 3m: 18.971
Median error 6m: 20.664
Min error 3m: 15.664
Min error 6m: 10.747

## доверительные интервалы по эксперимертам суммарно для 3х метров, каждый четвертый элемент

In [65]:
cylindr3m=[]
for i in range(5,10):
    cylindr3m.append(df[df.columns[i]].dropna().astype(float)[::4])
cyl3m=pd.concat(cylindr3m)
cyl3m=cyl3m.dropna()
z = np.abs(stats.zscore(cyl3m))
m,h=mean_confidence_interval(cyl3m)
print("Experiment 3m %2.2f+-%2.2f" % (m, h))
cyl3mp = cyl3m[(z < 1)]
m,h=mean_confidence_interval(cyl3mp)
print("Experiment 3m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 3m 292.74+-29.58
Experiment 3m + Zscore 326.76+-1.85

## доверительные интервалы по эксперимертам суммарно для 6ти метров, каждый четвертый элемент

In [66]:
cylindr6m=[]
for i in range(0,5):
    cylindr6m.append(df[df.columns[i]].dropna().astype(float)[::4])
cyl6m=pd.concat(cylindr6m)
cyl6m=cyl6m.dropna()
z = np.abs(stats.zscore(cyl6m))
m,h=mean_confidence_interval(cyl6m)
print("Experiment 6m %2.2f+-%2.2f" % (m, h))
cyl6mp = cyl6m[(z < 1)]
m,h=mean_confidence_interval(cyl6mp)
print("Experiment 6m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 6m 312.39+-11.58
Experiment 6m + Zscore 321.44+-4.59

In [67]:
cyl3=np.array(cyl3mp)
cyl3=np.abs(cyl3-400)/400*100

cyl6=np.array(cyl6mp)
cyl6=np.abs(cyl6-400)/400*100

print("Max error 3m: %2.3f"%np.max(cyl3))
print("Max error 6m: %2.3f"%np.max(cyl6))

print("Mean error 3m: %2.3f"%np.mean(cyl3))
print("Mean error 6m: %2.3f"%np.mean(cyl6))

print("Median error 3m: %2.3f"%np.median(cyl3))
print("Median error 6m: %2.3f"%np.median(cyl6))

print("Min error 3m: %2.3f"%np.min(cyl3))
print("Min error 6m: %2.3f"%np.min(cyl6))

Max error 3m: 20.625
Max error 6m: 27.275
Mean error 3m: 18.310
Mean error 6m: 19.641
Median error 3m: 18.971
Median error 6m: 20.664
Min error 3m: 15.664
Min error 6m: 14.053

## доверительные интервалы по эксперимертам суммарно для 3х метров, каждый пятый элемент

In [68]:
cylindr3m=[]
for i in range(5,10):
    cylindr3m.append(df[df.columns[i]].dropna().astype(float)[::5])
cyl3m=pd.concat(cylindr3m)
cyl3m=cyl3m.dropna()
z = np.abs(stats.zscore(cyl3m))
m,h=mean_confidence_interval(cyl3m)
print("Experiment 3m %2.2f+-%2.2f" % (m, h))
cyl3mp = cyl3m[(z < 1)]
m,h=mean_confidence_interval(cyl3mp)
print("Experiment 3m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 3m 287.52+-34.45
Experiment 3m + Zscore 327.29+-2.88

## доверительные интервалы по эксперимертам суммарно для 6ти метров, каждый пятый элемент

In [69]:
cylindr6m=[]
for i in range(0,5):
    cylindr6m.append(df[df.columns[i]].dropna().astype(float)[::5])
cyl6m=pd.concat(cylindr6m)
cyl6m=cyl6m.dropna()
z = np.abs(stats.zscore(cyl6m))
m,h=mean_confidence_interval(cyl6m)
print("Experiment 6m %2.2f+-%2.2f" % (m, h))
cyl6mp = cyl6m[(z < 1)]
m,h=mean_confidence_interval(cyl6mp)
print("Experiment 6m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 6m 312.26+-14.67
Experiment 6m + Zscore 323.35+-6.32

In [70]:
cyl3=np.array(cyl3mp)
cyl3=np.abs(cyl3-400)/400*100

cyl6=np.array(cyl6mp)
cyl6=np.abs(cyl6-400)/400*100

print("Max error 3m: %2.3f"%np.max(cyl3))
print("Max error 6m: %2.3f"%np.max(cyl6))

print("Mean error 3m: %2.3f"%np.mean(cyl3))
print("Mean error 6m: %2.3f"%np.mean(cyl6))

print("Median error 3m: %2.3f"%np.median(cyl3))
print("Median error 6m: %2.3f"%np.median(cyl6))

print("Min error 3m: %2.3f"%np.min(cyl3))
print("Min error 6m: %2.3f"%np.min(cyl6))

Max error 3m: 22.278
Max error 6m: 27.275
Mean error 3m: 18.177
Mean error 6m: 19.161
Median error 3m: 18.144
Median error 6m: 17.358
Min error 3m: 14.010
Min error 6m: 14.053

## доверительные интервалы по эксперимертам суммарно для 3х метров, каждый шестой элемент

In [71]:
cylindr3m=[]
for i in range(5,10):
    cylindr3m.append(df[df.columns[i]].dropna().astype(float)[::6])
cyl3m=pd.concat(cylindr3m)
cyl3m=cyl3m.dropna()
z = np.abs(stats.zscore(cyl3m))
m,h=mean_confidence_interval(cyl3m)
print("Experiment 3m %2.2f+-%2.2f" % (m, h))
cyl3mp = cyl3m[(z < 1)]
m,h=mean_confidence_interval(cyl3mp)
print("Experiment 3m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 3m 279.67+-41.02
Experiment 3m + Zscore 327.42+-2.56

## доверительные интервалы по эксперимертам суммарно для 6ти метров, каждый шестой элемент

In [72]:
cylindr6m=[]
for i in range(0,5):
    cylindr6m.append(df[df.columns[i]].dropna().astype(float)[::6])
cyl6m=pd.concat(cylindr6m)
cyl6m=cyl6m.dropna()
z = np.abs(stats.zscore(cyl6m))
m,h=mean_confidence_interval(cyl6m)
print("Experiment 6m %2.2f+-%2.2f" % (m, h))
cyl6mp = cyl6m[(z < 1)]
m,h=mean_confidence_interval(cyl6mp)
print("Experiment 6m + Zscore %2.2f+-%2.2f" % (m, h))

Experiment 6m 306.07+-20.32
Experiment 6m + Zscore 326.32+-6.98

In [73]:
cyl3=np.array(cyl3mp)
cyl3=np.abs(cyl3-400)/400*100

cyl6=np.array(cyl6mp)
cyl6=np.abs(cyl6-400)/400*100

print("Max error 3m: %2.3f"%np.max(cyl3))
print("Max error 6m: %2.3f"%np.max(cyl6))

print("Mean error 3m: %2.3f"%np.mean(cyl3))
print("Mean error 6m: %2.3f"%np.mean(cyl6))

print("Median error 3m: %2.3f"%np.median(cyl3))
print("Median error 6m: %2.3f"%np.median(cyl6))

print("Min error 3m: %2.3f"%np.min(cyl3))
print("Min error 6m: %2.3f"%np.min(cyl6))

Max error 3m: 20.625
Max error 6m: 27.275
Mean error 3m: 18.144
Mean error 6m: 18.421
Median error 3m: 18.144
Median error 6m: 17.358
Min error 3m: 15.664
Min error 6m: 10.747

In [74]:
df.to_excel("final.xlsx")

ModuleNotFoundError: No module named 'openpyxl'